:root {
  /* primary */
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);

  --font-weight-400: 500;
  --font-weight-500: 600;

  --width-mobile: 375px;
  --width-desktop: 1440px;
}
/* Reset */
* {
  padding: 0;
  margin: 0;
  font: inherit;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  color: inherit;
  display: inline-block;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
}
