:root {
  /* primary */
  --Purple-50: hsl(260, 100%, 95%);
  --Purple-300: hsl(264, 82%, 80%);
  --Purple-500: hsl(263, 55%, 52%);

  /* Neutral */
  --White: hsl(0, 0%, 100%);
  --Grey-100: hsl(214, 17%, 92%);
  --Grey-200: hsl(0, 0%, 81%);
  --Grey-400: hsl(224, 10%, 45%);
  --Grey-500: hsl(217, 19%, 35%);
  --Dark-blue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);

  --font-weight-400: 500;
  --font-weight-500: 600;

  --width-mobile: 375px;
  --width-desktop: 1440px;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
  &,
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

a {
  color: inherit;
  display: inline-block;
}
button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 13px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  max-height: 100vh;
}

.container {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  padding: 6.8rem 1rem 0;
  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    .card-one-bg {
      display: none;
    }
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    padding: 1rem;
    .card-one-bg {
      display: none;
    }
  }
}

.card {
  &-one {
    position: relative;
    background-color: var(--Purple-500);
    grid-column: span 2;
    @media (max-width: 600px) {
      grid-column: span 1;
      order: 1;
    }
    &-bg {
      position: absolute;
      top: 0;
      right: 8rem;
      z-index: 1;
    }
    & .card__name,
    .card__object {
      color: var(--Purple-50);
    }
    & .card__paragraph-1 {
      color: var(--Purple-50);
      z-index: 2;
    }
    & .card__paragraph-2 {
      color: var(--Grey-200);
      font-size: 1.4rem;
    }
  }
  &-two {
    background-color: var(--Grey-500);
    & .card__name,
    .card__object {
      color: var(--Grey-200);
    }
    & .card__paragraph-2 {
      color: var(--Grey-200);
      font-size: 1.5rem;
    }
    @media (max-width: 600px) {
      order: 2;
    }
  }
  &-three {
    grid-row: span 2;
    background-color: var(--White);
    color: var(--Grey-400);
    @media (max-width: 600px) {
      grid-row: span 1;
      order: 5;
    }
    & .card__paragraph-1 {
      color: var(--Grey-500);
    }
    & .card__paragraph-2 {
      font-size: 1.42rem;
      color: var(--Grey-400);
    }
  }
  &-four {
    background-color: var(--White);
    color: var(--Grey-400);
    & .card__paragraph-1 {
      color: var(--Grey-500);
    }
    & .card__paragraph-2 {
      font-size: 1.5rem;
      color: var(--Grey-400);
    }
    @media (max-width: 600px) {
      order: 3;
    }
  }
  &-five {
    background-color: var(--Dark-blue);
    grid-column: span 2;
    @media (max-width: 600px) {
      grid-column: span 1;
      order: 4;
    }
    & .card__paragraph-1 {
      color: var(--Grey-100);
    }
    & .card__paragraph-2 {
      font-size: 1.4rem;
      color: var(--Grey-200);
    }
  }
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.8rem;
  color: var(--White);
  padding: 2.8rem 2.6rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0.7rem rgba(0, 0, 0, 0.1);
  &__header {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  &__image {
    width: 3.4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
  }
  &__name {
    font-size: 1.33rem;
    font-weight: var(--font-weight-400);
    margin-bottom: 0.2rem;
  }
  &__object {
    font-size: 1.11rem;
    font-weight: var(--font-weight-400);
  }
  &__paragraph-1 {
    font-size: 2rem;
    font-weight: var(--font-weight-500);
  }
  &__paragraph-2 {
    font-size: 1.32rem;
    line-height: 1.5;
    font-weight: var(--font-weight-400);
  }
}
.image-1 {
  border: 0.2rem solid var(--Purple-300);
}
.image-5 {
  border: 0.2rem solid var(--Purple-500);
}
